﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.km-nova .km-loading-right {
    display: none !important;
}

.km-nova .km-loading-left {
    background: url('../Content/images/loader.gif') no-repeat fixed center !important;
    width: 50% !important;
    height: 50% !important;
    left: 25% !important;
    top: 25% !important;
    opacity: 0.8;
}

    .km-nova .km-loading-left:after, .km-nova .km-loading-left:before {
        display: none !important;
    }

.btn-google-plus:before {
    font-family: FontAwesome;
    content: "\f0d5";
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3rem;
    line-height: 2.5rem;
    background: rgba(0,0,0,.1);
    border-right: .0625rem solid rgba(0,0,0,.03);
}

.btn-google-plus {
    color: #fff;
    background-color: #dd4b39 !important;
    border-color: #dd4b39 !important;
    font-size: 1em;
    font-weight: 400;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    position: relative;
    margin-bottom: 10px;
}

.btn-facebook {
    color: #fff;
    background-color: #5075C3 !important;
    border-color: #3b5998 !important;
    font-size: 1em;
    font-weight: 400;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

    .btn-facebook:before {
        font-family: FontAwesome;
        content: "\f09a";
        font-size: 14px;
        color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 3rem;
        line-height: 2.5rem;
        background: rgba(0,0,0,.1);
        border-right: .0625rem solid rgba(0,0,0,.03);
    }

.btn-social {
    color: #fff;
    /*background-color: #dd4b39 !important;
    border-color: #dd4b39 !important;*/
    font-size: 1em;
    font-weight: 400;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

    .btn-social .km-text {
        color: #fff;
    }

.validation-error {
    z-index: -1 !important;
}
