﻿body.main-wrapper { background: #3e5c9a !important; }
.mobile-view { /*background: #3e5c9a;*/ padding: 15px 0px !important; float: left; width: 100%; border-radius: 0px; box-sizing: border-box; /*height: 571px;*/ overflow: auto; }
.inner-view { float: left; width: 100%; padding: 15px 25px; }
.img-block { margin: 0 auto; display: table; }
#iphone { position: relative; background: url("../Content/images/iphone_black.png") no-repeat scroll 0px 0px / contain transparent; width: 434px; height: 760px; margin: 0px auto; z-index: 100; }
/*.iphone-content {
 height: 571px;
 left: 26px;
 position: absolute;
 top: 92px;
 width: 320px;
 z-index: 15;
 border-radius: 5px;
}*/

.email-input { background: #fff url("../Content/images/email.svg") no-repeat scroll 10px 16px; float: left; width: 100%; padding: 6px 15px 6px 30px; margin-bottom: 10px; position: relative; border-radius: 5px; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); background-size: 16px 16px; }
.email-lock { background: #fff url("../Content/images/lock.svg") no-repeat scroll 11px 15px; float: left; width: 100%; padding: 6px 15px 6px 30px; margin-bottom: 10px; position: relative; border-radius: 5px; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); background-size: 16px 16px; }
.email-user { background: #fff url("../Content/images/user.png") no-repeat scroll 11px 13px; float: left; width: 100%; padding: 6px 15px 6px 30px; margin-bottom: 10px; position: relative; border-radius: 5px; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); background-size: 16px 16px; }
.block-time { background: #fff url("../Content/images/time.png") no-repeat scroll 11px 13px; float: left; width: 100%; padding: 6px 15px 6px 30px; margin-bottom: 10px; position: relative; border-radius: 5px; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); background-size: 16px 16px; }
.Refferal-code { background: #fff url("../Content/images/Refferal.png") no-repeat scroll 11px 17px; float: left; width: 100%; padding: 6px 15px 6px 30px; margin-bottom: 10px; position: relative; border-radius: 5px; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); background-size: 16px 16px; }
.km-nova label.km-required:after { content: "*"; display: inline-block; width: 1rem; height: 1rem; position: absolute !important; top: 18px !important; left: 30px !important; display: none; }
.email-input label, .email-lock label, .email-user label, .block-time label, .Refferal-code label { float: left; width: 100%; margin-bottom: 0px !important; }
.email-input input, .email-lock input, .email-user input, .block-time select, .Refferal-code input { border: none; border-radius: 0px; box-shadow: none; }
.email-input input:focus, .email-lock input:focus, .email-user input:focus, .block-time select:focus, .Refferal-code input:focus { background: none; box-shadow: none; border: none; }
.mobile-view .text-help { margin: 1em 0em !important; }
.mobile-view .btn { /*border-radius: 0px;*/ border: none; }
.img-logo { margin: 10px auto 25px; }
.text-white { color: #fff !important; }
.mobile-view .btn-success { background: #00a551 !important; border: none; color: #fff !important; box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); }
.mobile-view ul li { border: none !important; color: #fff !important; margin-bottom: 10px; padding: 0px !important; float: left; width: 100%; border-bottom: none !important; }
.mobile-view .km-nova .km-list > li label { color: #fff !important; }
.km-widget .km-listview-label { margin: 0em -0.7em !important; }
.km-nova input[type=checkbox] { color: #fff; border-color: transparent; border: none !important; background: #00a551 !important; outline: none !important; border-radius: 0px !important; }
.km-nova input[type=checkbox]:checked:after { color: #fff !important; margin-top: 2px !important; outline: none !important; }
.km-nova a:not([class]) { color: #fff !important; }
.btn-external-link i { color: #fff !important; float: left !important; padding: 8px 5px; font-size: 14px; }
.btn-external-link .btn-link { background: none !important; color: #fff !important; padding: 4px 5px !important; }
.btn-external-link { margin-top: 1em; }
.validation-error { position: relative; font-size: 12px; color: #ff4350; margin-bottom: 5px; }
.pull-full { float: left; width: 100%; }
.validation-error .text-danger { color: #FF939A !important; }
.mobile-sidebar { margin: 0; padding: 0; list-style: none; }
.mobile-sidebar li a:after { color: #fff !important; opacity: 1.0 !important; }
.mobile-sidebar li a.history { background: url(../Content/images/clock.svg) no-repeat 14px 13px; padding-left: 45px !important; background-size: 18px 18px; }
.mobile-sidebar li a.profile_details { background: url(../Content/images/profit.svg) no-repeat 14px 13px; padding-left: 45px !important; background-size: 18px 18px; }
.mobile-sidebar li a.dialin-details { background: url(../Content/images/dial.svg) no-repeat 14px 13px; padding-left: 45px !important; background-size: 18px 18px; }
.mobile-sidebar li a.credit_details { background: url(../Content/images/credit.svg) no-repeat 14px 13px; padding-left: 45px !important; background-size: 18px 18px; }
.mobile-sidebar li a.refer_friend { background: url(../Content/images/refer.svg) no-repeat 14px 13px; padding-left: 45px !important; background-size: 18px 18px; }
.mobile-sidebar li a.log_off { background: url(../Content/images/logout.svg) no-repeat 14px 13px; padding-left: 45px !important; background-size: 18px 18px; }
.mobile-sidebar li a.help { background: url(../Content/images/help.svg) no-repeat 14px 13px; padding-left: 45px !important; background-size: 22px 22px; }
.mobile-sidebar li a.feedback { background: url(../Content/images/feedback.svg) no-repeat 14px 13px; padding-left: 45px !important; background-size: 22px 22px; }
.mobile-sidebar li a.users { background: url(../Content/images/group.png) no-repeat 14px 13px; padding-left: 45px !important; }
.mobile-sidebar li.kam-state-active { }
.km-nova .km-drawer { color: #fff; background-color: #3e5c9a !important; }
.km-nova .km-drawer .km-content { background-color: transparent !important; }
.km-nova .km-drawer .km-list > li { border-color: #4465AA !important; }
.km-nova .km-drawer .km-navbar { background: #32518f !important; }
.km-nova .km-drawer .km-list > li:hover { background: #00a551; border-color: #028843 !important; }
.km-nova .km-accent.km-navbar { background: #3e5c9a; }
.hamburger { background: #2E4A84 !important; }
.email-input-inner { background: #fff url("../Content/images/email.svg") no-repeat scroll 16px 13px; float: left; width: 100%; padding: 10px 15px 10px 45px; margin-bottom: 10px; position: relative; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); border-radius: 5px; font-size: initial !important; background-size: 16px 16px; }
.feedback-textarea-inner { background: #fff url("../Content/images/edit.svg") no-repeat scroll 16px 13px; float: left; width: 100%; padding: 10px 15px 10px 45px; margin-bottom: 10px; position: relative; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); border-radius: 5px; font-size: initial !important; background-size: 16px 16px; }
.email-lock-inner { background: #fff url("../Content/images/lock.svg") no-repeat scroll 16px 13px; ; float: left; width: 100%; padding: 10px 15px 10px 45px; margin-bottom: 10px; position: relative; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); border-radius: 5px; font-size: initial !important; background-size: 16px 16px; }
.email-user-inner { background: #fff url("../Content/images/user.png") no-repeat scroll 16px 13px; float: left; width: 100%; padding: 10px 15px 10px 45px; margin-bottom: 10px; position: relative; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); border-radius: 5px; font-size: initial !important; }
.block-time-inner { background: #fff url("../Content/images/time.svg") no-repeat scroll 16px 13px; float: left; width: 100%; padding: 10px 15px 10px 45px; margin-bottom: 10px; position: relative; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); border-radius: 5px; font-size: initial !important; background-size: 16px 16px; }
.block-mobile-inner { background: #fff url("../Content/images/mobilephone.png") no-repeat scroll 16px 13px; float: left; width: 100%; padding: 10px 15px 10px 45px; margin-bottom: 10px; position: relative; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); border-radius: 5px; font-size: initial !important; }
.block-buttonpress-inner { background: #fff url("../Content/images/buttonpress.png") no-repeat scroll 16px 13px; float: left; width: 100%; padding: 10px 15px 10px 45px; margin-bottom: 10px; position: relative; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); border-radius: 5px; font-size: initial !important; }
.block-days-inner { background: #fff url("../Content/images/days.png") no-repeat scroll 16px 13px; float: left; width: 100%; padding: 10px 15px 10px 45px; margin-bottom: 10px; position: relative; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); border-radius: 5px; font-size: initial !important; }
.promo-code-inner { background: #fff url("../Content/images/promoode.svg") no-repeat scroll 16px 13px; float: left; width: 100%; padding: 10px 15px 10px 45px; margin-bottom: 10px; position: relative; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); border-radius: 5px; font-size: initial !important; background-size: 18px 18px; }
.email-input-inner select, .email-input-inner input, .email-lock-inner input, .feedback-textarea-inner textarea, .email-user-inner input, .promo-code-inner input, .block-buttonpress-inner input, .block-time-inner input, .block-time-inner select, .block-days-inner select, .block-days-inner input { border: none; border-radius: 0px; box-shadow: none; color: #666; width: 100%; line-height: initial !important; }
.email-input-inner select:focus, .email-input-inner input:focus, .email-lock-inner input:focus, .email-user-inner input:focus, .promo-code-inner input:focus .block-buttonpress-inner input:focus, .block-time-inner selct:focus, .feedback-textarea-inner textarea:focus, .block-time-inner input:focus, .block-buttonpress-inner input:focus, .block-days-inner select:focus, .block-days-inner input:focus { background: none; box-shadow: none; border: none; }
.margin-top-10 { margin-top: 10px !important; }
.margin-top-20 { margin-top: 20px !important; }
.margin-bottom-10 { margin-bottom: 10px !important; }
.margin-bottom-20 { margin-bottom: 20px !important; }
.km-pane { background: #F5F5F5 !important; }
.km-nova .km-content { color: #32364c; background-color: #E9EFEF !important; }
.warpper-inner .btn { box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); border: none !important; }
.warpper-inner .btn-success { background: #00a551; color: #fff; }
.warpper-inner .btn-default { background-color: rgb(250,250,250); }
.warpper-inner h2 { margin-top: 0em !important; margin-bottom: .8em !important; border-bottom: 1px solid #D7D7D7; padding-bottom: .8em !important; font-weight: 500; }
.warpper-inner ul.list-form li { padding: 0em !important; margin: 0em !important; border: none !important; line-height: initial !important; }
.warpper-inner ul.list-form li input, .warpper-inner ul.list-form li select { position: relative !important; font-size: initial !important; line-height: initial !important; width: 100% !important; }
.warpper-inner ul.list-form li select:not([multiple]) { position: relative !important; font-size: initial !important; line-height: initial !important; width: 100% !important; -ms-transform: translateY(0%) !important; transform: translateY(0%) !important; -webkit-transform: translateY(0%) !important; }
.warpper-inner ul.list-form li label { margin: 0em !important; padding: 0em !important; line-height: 2em !important; width: 100% !important; line-height: initial !important; }
.warpper-inner ul.list-form li label strong { line-height: 2em !important; color: #555; font-weight: 400; }
.warpper-inner ul.list-form li .kendo-control { min-height: 36px !important; }
.logoff-button { background: #00a551 url("../Content/images/logoff.png") no-repeat center center !important; padding: 0px 15px !important; min-width: 48px; }
ul.mobile-sidebar li { padding: 0.8em .84em 0.8em .84em !important; }
.modal-kendo .modalheader { background: #00A551 !important; }
.modal-kendo .alert { font-size: .8em; margin-top: 15px; line-height: 1.6em; border-radius: 0px; }
.modal-kendo ul.list-modal li { border: none !important; border-color: transparent !important; }
.modal-kendo .km-content .km-nova .km-list>li { border-color: transparent; color: #32364c; border: none !important; }
.modal-kendo .modalfooter { background: #F5F5F5 !important; }
.block-level { padding: 0px; border-radius: 5px; background-color: white; margin: 10px 0px 20px; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); }
.block-level .block-header { background: #E1E1E1; float: left; width: 100%; margin-bottom: 13px; border-radius: 5px 5px 0px 0px; }
.block-level .block-content { padding: 0px 15px 10px; }
/*.seconds
{
    float: right;
    color: #FFFFFF;
    background: #00A551;
    border-radius: 4px;
    padding: 3px 5px !important;
    font-size: 14px !important;
    margin-top: 3px !important;
}*/
.block-level .block-header .block-left { float: left; color: #252525; background: #DEDEDE; border-radius: 5px 0px 0px 0px; padding: 10px 5px !important; font-size: 14px !important; margin-top: 0px !important; width: 65%; text-align: center; font-weight: 500; }
.block-level .block-header .block-right { float: right; color: #252525; background: #D2D2D2; border-radius: 0px 5px 0px 0px; padding: 10px 5px !important; font-size: 14px !important; margin-top: 0px !important; width: 35%; text-align: center; font-weight: 500; }
label { font-weight: 400 !important; }
.social-btn .btn-danger:nth-child(2) { color: #fff; background-color: #dd4b39 !important; border-color: #dd4b39 !important; font-size: 1em; font-weight: 400; box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); }
.social-btn { float: left; margin-bottom: 10px; width: 100%; }
.social-btn .btn-danger:nth-child(2):before { font-family: FontAwesome; content: "\f0d5"; font-size: 14px; color: #fff; position: absolute; top: 0; bottom: 0; left: 0; width: 3rem; line-height: 2.5rem; background: rgba(0,0,0,.1);  border-right: .0625rem solid rgba(0,0,0,.03);
}
.social-btn .btn-danger:nth-child(3) { color: #fff; background-color: #5075C3 !important; border-color: #3b5998 !important; font-size: 1em; font-weight: 400; box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); }
.social-btn .btn-danger:nth-child(3):before { font-family: FontAwesome; content: "\f09a"; font-size: 14px; color: #fff; position: absolute; top: 0; bottom: 0; left: 0; width: 3rem; line-height: 2.5rem; background: rgba(0,0,0,.1);  border-right: .0625rem solid rgba(0,0,0,.03);
}
/*
***********
Refer Friend
***********
*/


.refer-btn .btn-danger:nth-child(1) { color: #fff; background-color: #dd4b39 !important; border-color: #dd4b39 !important; font-size: 1em; font-weight: 400; box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); position: relative; margin-bottom: 10px; }
.refer-btn { float: left; margin-bottom: 10px; width: 100%; }
.refer-btn .btn-danger:nth-child(1):before { font-family: FontAwesome; content: "\f1e0"; font-size: 14px; color: #fff; position: absolute; top: 0; bottom: 0; left: 0; width: 3rem; line-height: 2.5rem; background: rgba(0,0,0,.1);  border-right: .0625rem solid rgba(0,0,0,.03);
}
.refer-btn .btn-danger:nth-child(2) { color: #fff; background-color: #3b5998 !important; border-color: #3b5998 !important; font-size: 1em; font-weight: 400; box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); position: relative; margin-bottom: 10px; }
.refer-btn .btn-danger:nth-child(2):before { font-family: FontAwesome; content: "\f09a"; font-size: 14px; color: #fff; position: absolute; top: 0; bottom: 0; left: 0; width: 3rem; line-height: 2.5rem; background: rgba(0,0,0,.1);  border-right: .0625rem solid rgba(0,0,0,.03);
}
.km-loader { background: rgba(255, 255, 255, 0.87) !important; position: fixed; top: 0px !important; }
.faq { margin-top: 1em; }
.faq .km-collapsible-header { height: 3.3em !important; line-height: 3.3em !important; padding: 1em 1.16em 1em 2.4em !important; font-size: 1em; }
.faq .km-collapsible { float: left; width: 100%; box-shadow: 1px; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); border-radius: 5px; margin: 0em 0 0.5em !important; }
.faq .km-collapsible-header h2 { color: #666 !important; }
.faq .km-collapsible-header h2 .km-icon:after { color: #00a551 !important; }
.well-block { background: #fff; float: left; width: 100%; padding: 5px 15px 5px 15px; margin-bottom: 10px; position: relative; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); border-radius: 5px; font-size: initial !important; }
.well-block .km-switch-container {
 -webkit-box-shadow: inset 0 .202rem .403rem 0 #dee7ec !important;
 box-shadow: inset 0 .202rem .403rem 0 #E9EFEF !important; border-color: #E9EFEF !important; background-color: #E9EFEF !important; }
.validation-summary-errors { background: #b94a48; color: #fff; border-color: #b94a48; float: left; width: 100%; margin-bottom: 10px; border-radius: 5px; -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); }
.validation-summary-errors ul { margin: 0px; padding: 0px }
.validation-summary-errors ul li { margin-bottom: 0px !important; padding: 0px; background: url("../Content/images/error.svg") no-repeat scroll 12px 8px; background-size: 16px 16px; padding: 10px 15px 10px 40px !important; float: left; width: 100%; border-bottom: 1px solid #CC5553 !important; }
.validation-summary-errors ul li:before { }
.validation-summary-errors ul li:last-child { margin-bottom: 0px !important; border-bottom: 0px !important; }
.faq .km-collapsible-content p { font-size: 1.1em !important; color: #666 !important; line-height: 1.4em !important; }
